$c-000000: #000000;
$c-FFFFFF: #ffffff;

$c-EBEBEB: #ebebeb;
$c-D9D9D9: #d9d9d9;
$c-082605: #082605;
$c-4E6A4C: #4e6a4c;
$c-1C3A19: #1c3a19;
$c-FFF3B0: #fff3b0;

$c-main: $c-EBEBEB; // основной цвет фона
$c-accent: $c-1C3A19; // акцентный цвет (цвет бренда)
$c-secondary: $c-4E6A4C; // цвет текста

$skeleton-color: #e2e8f0; // !!!
