@use './functions' as *;
@use './colors' as *;
@use './variables' as *;

// layout
@mixin content-container($max-width: rem(1920), $padding: 0 lineScale(32, 16, 480, 1920)) {
    max-width: $max-width;
    margin: 0 auto;
    padding: $padding;
}

@mixin content-block($margin: lineScale(128, 64, 480, 1920)) {
    margin: $margin 0;
}

// components
@mixin button-primary(
    $overlay-size: rem(100),
    $width: fit-content,
    $padding: rem(18) rem(40),
    $color: $c-082605,
    $font-size: rem(14),
    $border-color: $c-082605,
    $background: $c-FFFFFF,
    $anim-color: $c-main,
    $anim-text-color: $c-FFFFFF
) {
    cursor: pointer;
    width: $width;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $color;
    font-size: $font-size;
    font-weight: $fw-bold;
    padding: $padding;
    transition: color $td $tf;
    will-change: transform;
    white-space: nowrap;
    @media (pointer: fine) {
        &:hover {
            color: $anim-text-color;
            &::before {
                background-color: $anim-color;
            }
        }
    }
    &:active {
        scale: 0.99;
    }
    > span {
        position: relative;
        z-index: 3;
        margin: calc($overlay-size * -1);
        padding: $overlay-size;
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
        clip-path: polygon(15% 0, 100% 0, 100% 60%, 85% 100%, 0 100%, 0 40%);
        pointer-events: none;
    }
    &::before {
        z-index: 2;
        background-color: $background;
        transition: background-color $td $tf 0s;
    }
    &::after {
        z-index: 1;
        background-color: $border-color;
        transform: scaleY(1.1) scaleX(1.025) translateX(0.25px);
    }
}

@mixin title-primary(
    $font-size: lineScale(44, 30, 480, 1920),
    $max-width: 35ch,
    $text-align: center
) {
    font-family: 'Nuniti', sans-serif;
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: $font-size;
    text-align: $text-align;
    max-width: $max-width;
}

@mixin block-tag() {
    display: flex;
    align-items: center;
    gap: rem(8);
    color: $c-082605;
    font-size: lineScale(16, 14, 480, 1920);
    font-weight: $fw-semi;
    opacity: 0.5;
    &::before {
        content: '';
        display: block;
        width: rem(16);
        min-width: rem(16);
        aspect-ratio: 1;
        background-color: currentColor;
        clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
}

@mixin text-content($font-size, $h2-size, $h-size, $accent-color: $c-082605) {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    font-size: $font-size;
    line-height: 1.4;
    h2 {
        font-family: 'Nuniti', sans-serif;
        font-size: $h2-size;
        margin-top: lineScale(32, 16, 480, 1920);
    }
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Nuniti', sans-serif;
        font-size: $h-size;
        margin-top: lineScale(32, 16, 480, 1920);
    }
    ol > li,
    ul > li {
        margin-left: rem(20);
    }
    ol > li {
        list-style: decimal outside;
    }
    ul > li {
        list-style: disc outside;
    }
    a {
        color: $accent-color;
        text-decoration: underline;
        white-space: nowrap;
        opacity: 1;
        @media (pointer: fine) {
            &:hover {
                text-decoration: none;
            }
        }
    }
    table {
        color: $c-FFFFFF;
        padding: rem(16) rem(32);
        background-color: $c-1C3A19;
        clip-path: polygon(100% 0, 100% 60%, 95% 100%, 0 100%, 0 0);
        margin: rem(16) 0;
        > tr {
            display: flex;
            justify-content: space-between;
        }
        th {
            align-self: flex-start;
            text-align: left;
        }
    }
    img,
    picture,
    video {
        position: relative;
        width: 100%;
        // height: lineScale(440, 320, 480, 1920);
    }
}

@mixin inputbox() {
    position: relative;
    border-bottom: rem(1) solid $c-4E6A4C;
    padding: rem(24) 0;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: rem(2);
        background-color: $c-082605;
        transition: width $td $tf;
        will-change: width;
    }
    &:has(input:focus),
    &:not(:has(input:placeholder-shown)) {
        > input {
            &::placeholder {
                opacity: 0.25;
            }
        }
        > span {
            font-size: rem(14);
            font-weight: $fw-bold;
            translate: 0 rem(-36);
            opacity: 1;
        }
        &::before {
            width: 100%;
        }
    }
    > input {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        appearance: none;
        font-family: inherit;
        color: inherit;
        font-size: lineScale(24, 20, 480, 1920);
        background-color: transparent;
        &::placeholder {
            font-family: inherit;
            color: inherit;
            opacity: 0;
            transition: opacity $td $tf;
        }
    }
    > span {
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        font-family: 'Nuniti', sans-serif;
        font-size: lineScale(24, 20, 480, 1920);
        opacity: 0.5;
        will-change: translate, opacity, font-size;
        transition: all $td $tf;
        pointer-events: none;
    }
}

@mixin agreement($color: $c-FFF3B0) {
    $size: rem(24);

    $color: $c-FFF3B0;
    display: flex;
    align-items: center;
    gap: rem(8);
    > label {
        cursor: pointer;
        position: relative;
        width: $size;
        min-width: $size;
        height: $size;
        min-height: $size;
        aspect-ratio: 1;
        border: rem(2) solid $color;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: rem(12);
            height: rem(2);
            background-color: $color;
            opacity: 0.25;
            transition: all $td $tf-spring 0s;
        }
        @media (pointer: fine) {
            &:hover {
                &::before,
                &::after {
                    opacity: 1;
                }
                &::after {
                    rotate: 270deg;
                }
            }
        }
        &:has(input:checked) {
            &::before,
            &::after {
                opacity: 1;
            }
            &::before {
                width: rem(6);
                rotate: -135deg;
                translate: -100% 0;
            }
            &::after {
                width: rem(10);
                rotate: 135deg;
                translate: -30% -30%;
            }
        }
    }
    > p {
        color: $color;
        > a,
        button {
            cursor: pointer;
            text-decoration: underline;
            @media (pointer: fine) {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

@mixin modal-form() {
    position: fixed;
    width: rem(640);
    height: 100lvh;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    color: $c-FFFFFF;
    background-color: $c-082605;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
    @media (max-width: rem(640)) {
        width: 100vw;
    }
    &__close {
        cursor: pointer;
        position: absolute;
        top: rem(32);
        right: rem(24);
        color: $c-FFFFFF;
    }
    &__container {
        width: 100%;
        height: 100lvh;
        display: flex;
        flex-direction: column;
        gap: rem(64);
        overflow-y: auto;
        padding: rem(128) lineScale(64, 32, 480, 1920);
    @include hide-scrollbar();
    }
    &__titlebox {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }
    &__title {
        font-family: 'Nuniti', sans-serif;
        font-size: lineScale(64, 30, 480, 1920);
        font-weight: $fw-bold;
    }
    &__desc {
        font-size: lineScale(18, 16, 480, 1920);
        line-height: 1.2;
    }
    &__data {
        display: flex;
        flex-direction: column;
        gap: rem(32);
    }
    &__inputbox {
        position: relative;
        border-bottom: rem(1) solid $c-FFF3B0;
        padding: rem(24) 0;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 0;
            height: rem(2);
            background-color: $c-FFF3B0;
            transition: width $td $tf;
            will-change: width;
        }
        > input,
        > textarea {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            appearance: none;
            font-family: inherit;
            color: inherit;
            font-size: lineScale(20, 18, 480, 1920);
            background-color: transparent;
            &::placeholder {
                color: transparent;
            }
        }
        > span {
            position: absolute;
            left: 0;
            font-family: 'Nuniti', sans-serif;
            font-size: lineScale(24, 20, 480, 1920);
            opacity: 0.5;
            will-change: translate, opacity, font-size;
            transition: all $td $tf;
            pointer-events: none;
        }
        &--file {
            position: relative;
            width: 100%;
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-areas:
                'label icon'
                'hr hr'
                'input input';
            gap: rem(16) rem(0);
            > input {
                grid-area: input;
                &::-webkit-file-upload-button,
                &::file-selector-button {
                    display: none;
                }
            }
            > span {
                grid-area: label;
                font-family: 'Nuniti', sans-serif;
                font-size: lineScale(24, 20, 480, 1920);
                opacity: 0.5;
            }
            > svg {
                grid-area: icon;
                opacity: 0.25;
            }
            > hr {
                grid-area: hr;
                width: 100%;
                height: rem(2);
                background-color: $c-FFF3B0;
            }
        }
        &--tarea {
            height: rem(128);
            > textarea {
                width: 100%;
                height: 100%;
                resize: none;
            }
            > span {
                top: 0;
            }
            &:has(textarea:focus),
            &:not(:has(textarea:placeholder-shown)) {
                > span {
                    font-size: rem(14);
                    color: $c-FFF3B0;
                    font-weight: $fw-bold;
                    translate: 0 rem(-16);
                    opacity: 1;
                }
                &::before {
                    width: 100%;
                }
            }
        }
        &--input {
            > span {
                top: 50%;
                left: 0;
                translate: 0 -50%;
            }
            &:has(input:focus),
            &:not(:has(input:placeholder-shown)) {
                > span {
                    font-size: rem(14);
                    color: $c-FFF3B0;
                    font-weight: $fw-bold;
                    translate: 0 rem(-32);
                    opacity: 1;
                }
                &::before {
                    width: 100%;
                }
            }
        }
    }
    &__controls {
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }
    &__agreement {
        @include agreement;
    }
}

@mixin skeleton(
    $color: $skeleton-color,
    $anim-color: linear-gradient(90deg, transparent, rgba(#ffffff, 0.4), transparent)
) {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: $color;
    border-radius: rem(8);
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        background: $anim-color;
        animation: skeleton-anim 1.2s ease infinite;
        pointer-events: none;
    }
    @keyframes skeleton-anim {
        from {
            translate: -100%;
        }
        to {
            translate: 100%;
        }
    }
}

// effects
@mixin fullscreen-double-corner() {
    clip-path: polygon(
        rem(300) 0,
        100% 0,
        100% 75%,
        lineScale(1500, 190, 480, 1920) 100%,
        0 100%,
        0 rem(190)
    );
}

@mixin double-corner() {
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
}

@mixin right-corner() {
    clip-path: polygon(100% 0, 100% 70%, 80% 100%, 0 100%, 0 0);
}

@mixin left-corner() {
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 30%);
}

@mixin gradient-text-hover($main-color: $c-000000, $accent-color: $c-accent) {
    @supports (background-clip: text) {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, $accent-color 50%, $main-color 50%);
        background-size: 250% 200%;
        background-position: -80% -100%;
        transition: background-position $td $tf;
        @media (pointer: fine) {
            &:hover {
                background-position: -160% -200%;
            }
        }
    }
    @supports not (background-clip: text) {
        transition: color $td $tf;
        @media (pointer: fine) {
            &:hover {
                color: $c-accent;
            }
        }
    }
}

@mixin hover-underline($color: currentColor) {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: rem(8);
    line-height: 150%;
    transition: all $td $tf;
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: rem(2);
        width: 0;
        background-color: $color;
        transition: $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $color;
            &::after {
                width: 100%;
            }
        }
    }
}

@mixin hover-blick-line($init-color: $c-secondary, $anim-color: $c-accent) {
    position: relative;
    line-height: 1.5;
    color: $init-color;
    transition: color $td $tf;
    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: rem(1);
        background-color: $init-color;
        transition: all $td $tf;
    }
    @media (pointer: fine) {
        &:hover {
            color: $anim-color;
            &::before {
                width: 100%;
                translate: 100%;
                background-color: $anim-color;
            }
        }
    }
}

@mixin hover-circle-left(
    $color: $c-accent,
    $circle-size: rem(5),
    $transition: (
        color $td $tf,
        translate $td $tf,
    )
) {
    position: relative;
    @media (pointer: fine) {
        &:hover,
        &:focus {
            > span {
                color: $color;
                translate: calc($circle-size + rem(4)) 0;
            }
            &::before {
                width: $circle-size;
            }
        }
    }
    > span {
        display: block;
        transition: $transition;
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        width: 0;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $color;
        will-change: width;
        transition: width $td $tf;
        transform-origin: center;
    }
}

// tech
@mixin hide-scrollbar() {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

// animations

@mixin arrow-translate {
    @keyframes arrow-translate {
        0% {
            translate: 0 0;
            opacity: 1;
        }
        45% {
            translate: 100% 0;
            opacity: 0;
        }
        55% {
            translate: -100% 0;
            opacity: 0;
        }
        100% {
            translate: 0 0;
            opacity: 1;
        }
    }
}
