@import './null.css';

@import './fonts.css';

html,
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.symbol {
    font-family: 'Inter', sans-serif;
}

.ruble::after {
    font-family: 'Inter', sans-serif;
    content: '\20BD';
}

.fancybox__dialog {
    max-width: 100vw !important;
}
